* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(176, 243, 245);
}

header {
    height: 50px;
    background-color: rgb(203, 196, 248);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu {
    margin: auto;
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin-left: 20px;
}

.main {
    text-align: center;
}
